main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}


form {
    width: 50%;
}

.fila {
    display: flex;
    justify-content: space-between;
}

.fila div {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
select {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    padding: 12px 20px;
    margin: 2% 0%;
    width: 100%;
}

select {
    background-color: white;
}

.fila .solitario {
    width: 100%;
}

.fila .solitario input[type=text] {
    margin: 1% 0%;
}

main h3 {
    font-size: 1.5em;
    margin-bottom: 3%;
}

label {
    font-size: 1.1em;
}

input[type=submit],
button {
    background-color: #bb141c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    display: block;
    font-size: 1em;
    transition: background-color 0.3s;
    padding: 14px 20px;
    margin: 8px 0;
}

input[type=submit] {
    width: 100%;
}

button {
    width: 50%;
}

input[type=submit]:hover,
button:hover {
    background-color: #cd6a6c;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}