main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 3%;
    width: 50%;
}

main h2{
    margin-bottom: 4%;
}

.horizontal{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.columna{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}
button {
    background-color: #bb141c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    display: block;
    font-size: 1em;
    transition: background-color 0.3s;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}

button a{
    color: #fff;
    text-decoration: none;
}

label{
    font-size: 1.1em;
}

.contenido{
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
    display: inline-block;
    padding: 12px 20px;
    margin: 2% 0%;
    width: 100%;text-align: left;
    color: #000;
}

.contenido a{
    color: #000;
    text-decoration: none;
    height: 100%;
}
.columna .contenido{
    width: 100%;
}

