* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2e2e32;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/* HEADER */

#enlaces {
    background: #27272c;
}

nav {
    align-items: center;
    height: 7vh;
    display: flex;
}

/* Nombre de la empresa */
nav a {
    width: 30%;
    color: #fff;
    text-align: center;
    text-decoration: none;
}


/* Menu de navegación */
.navegacion {
    width: 55%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.navegacion {
    width: 55%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.navegacion a {
    align-self: center;
    text-align: center;
    width: 100%;
    color: #a3a3a3;
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
    font-family: arial;
    padding: 11px 23px;
    transition: background-color 200ms;
}

.navegacion a:hover {
    background: #515052;
    color: #fff;
}


/* Informacion de Login */
.account {
    width: 15%;
    height: 100%;

    text-align: center;

    position: relative;

    transition: background-color 200ms;
}

.account a:hover,
.account:hover {
    background: #515052;
    color: #fff;
}

.account a:hover .logout {
    color: #fff;
}

.account:hover a {
    display: flex;
}

.username {
    font-family: arial;

    position: absolute;
    left: 0;
    right: 0;
    top: 0.7em;
    bottom: 0;
}

.account .logout,
.reset_pass {
    background: #27272c;

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #a3a3a3;

    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    right: 0;
    top: 100%;
}

.account .reset_pass {
    top: 200%;
}


.account i {
    color: #a3a3a3;
    margin-left: 1.5em;
}

.account .logout:hover i {
    color: #fff;
}



/* Footer */

footer {
    width: 100%;
    height: 4vh;
    background: #27272c;
    margin-top: auto;

}

.div_footer {
    background-color: #27272c;
    margin: 0 auto;
    width: 97%;
    height: 100%;
    border-top: 1.5px solid #a3a3a3;
}

.div_footer p {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 1em;
}

.div_footer p a {
    color: #a3a3a3;
    text-decoration: none;
}

.div_footer p a:hover {
    color: #fff;
    text-decoration: underline;
}

#reloj {
    font-family: arial;
    font-size: 14px;
    border: none;

    float: right;
    padding: 2px 1em 0 0;
}


/* Day Mode */

.day-mode{
    background-color: #fff;
    transition: background-color 500ms;
    color: #9b9b9b;
}

.day-mode .enlaces{
    color:#9b9b9b;  
    transition: background-color 500ms;
}

.day-mode table th, .day-mode table td{
    color: #9b9b9b;
    border-color: #9b9b9b;
    transition: background-color 500ms;
}

.day-mode .button{
    color: #fff;
}

.day-mode .filters{
    background-color: #eaeaea;
} 

.day-mode .filter_buttons a{
    color: #fff;
}

.day-mode .filter_buttons input .fila{
    color: #fff;
}


/* css claro para detalles editar y nuevo */
.day-mode form .fila,
.day-mode form .columna,
.day-mode form .solitario, 
.day-mode .horizontal,
.day-mode .columna,
.day-mode .contenido{
    background-color: #fff;
    color: #9b9b9b;
}

.day-mode .filters .fila,
.day-mode .filters .columna{
    background-color: #eaeaea;
}

.day-mode footer{
    background-color: #eaeaea;
}

.day-mode .div_footer a:hover{
    text-decoration: underline;
}

.day-mode div{
    background-color: #eaeaea;
}

.day-mode a{
    color: #9b9b9b;
}

.day-mode #enlaces{
    background-color: #eaeaea;
}


.day-mode .cart{
    background-color: #ffffff;
}
.day-mode h1, .day-mode h2{
    color:#fff;
}

.container-btn-mode{
    position: absolute;
    bottom: 40px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    font-size: 0;
}

.day-mode .container-btn-mode{
    background-color: #fff;
}
.btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    border: 2px solid black;
    transition: background-color 500ms
}

.day-mode .btn-mode{
    border: 2px solid #9b9b9b;
}

.btn-mode i{
    display: block;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.btn-mode.sun{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-mode.moon{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color:#000
}
.day-mode .btn-mode.moon{
    background-color: #fff;
}

.active{
    background-color: #000;
    color: #ffcd5c !important; 
}

