* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2e2e32;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;

    display: flex;
    /* align-items: center; */
    flex-direction: column;
}




/* Header */

header {
    width: 100%;
    height: 7vh;

    display: flex;
    justify-content: left;

    background: #27272c;
}

header h3 {
    margin: auto 3.4em;
}


/* Main */


/* Formato general del Main */
main {
    display: flex;
    flex-direction: column;

    text-align: center;
}

/* Titulo de la página */
main h2 {
    margin: 1.5em 0 1.5em 0;
}

/* Formato del formulario  */
main form {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 3em;

    font-size: 18px;
}

main form p {
    display: flex;
    flex-direction: column;
}

/* Formato de todos los labels */
main form p label {
    margin: 0.5em 0 0.2em 0;
}

/* Formato de todos los inputs */
main form p input {
    width: 100%;
    height: 3.2em;

    border: none;
    border-radius: 5px;

    padding-left: 1.5em;
}

/* formato de todos los botones */
main form button {
    background: #bb141c;
    color: #fff;
    transition: background 200ms;

    border: none;
    border-radius: 5px;

    margin-top: 1em;
    width: 100%;
    height: 3.5em;
}

main form button:hover {
    background: #cd6a6c;
}

/* Formato de los textos de apoyo  */
main form ul {
    margin-bottom: 1em;
    font-size: 13px;
    color: #ccc;
}

main form ul li {
    list-style: none;
}

main form p span {
    margin: 0.5em 0;
    font-size: 13px;
    color: #ccc;
}

main form span {
    margin: 0.5em 0;
    font-size: 13px;
    color: #ccc;
}

main form p,
main form a {
    color: #ccc;
    text-decoration: none;
}

main form a:hover {
    text-decoration: underline;
}

main p a {
    color: #bb141c;
    text-decoration: none;
}

main p a:hover {
    text-decoration: underline;
}


/* Footer */

footer {
    width: 100%;
    height: 4vh;
    background: #27272c;
    margin-top: auto;

}

.div_footer {
    background-color: #27272c;
    margin: 0 auto;
    width: 97%;
    height: 100%;
    border-top: 1.5px solid #a3a3a3;
}

.div_footer p {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 1em;
}

/* Formato Copyright */
.div_footer p a {
    color: #a3a3a3;
    text-decoration: none;
}

.div_footer p a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Reloj que se actualiza */
#reloj {
    font-family: arial;
    font-size: 14px;
    border: none;

    float: right;
    padding: 2px 1em 0 0;
}