.filters {
  height: 3em;
  width: 90%;
  margin: 1em auto;
  background: #27272c;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  width: 25%;
  padding-left: 1em;
}

form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.fila {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

input,
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
}

form .filter_buttons {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filter_buttons a,
.filter_buttons input {
  height: 80%;
  width: 29%;

  text-decoration: none;
  color: #000;
  font-size: 14px;

  border-radius: 3px;
  border: none;
  transition: background 300ms;
}

.filter_buttons a {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f68d13;
}

.filter_buttons a:hover {
  background: #a85f0a;
}

.filter_buttons input {
  background: #5bbb5b;

}

.filter_buttons input:hover {
  background: #3c793c;
}


.table {
  height: fit-content;
  width: 90%;

  margin: 1em auto;

  color: #fff;

  background: #27272c;
  border-radius: 5px;
  padding-bottom: 0.5em;
}

.table table {
  width: 100%;
  padding: 1em;

  border-collapse: collapse;
  border-spacing: 0;


  text-align: left;
  font-family: arial;
}

.table th,
td {
  padding: 0 0.5em 0 1em;

  border-bottom: 1.5px solid #4a4a50;
  height: 3em;
}

.table th {
  border-bottom: 2.5px solid #4a4a50;
}

.buttons {
  border: none;
  display: flex;
  width: 100%;
}

.button {
  height: 80%;
  width: 30%;
  border-radius: 3px;

  text-decoration: none;
  color: #000;
  text-align: center;
  transition: background 200ms;
  font-size: 14px;

  padding-top: 10px;
  margin: auto;
}


.table .vacio {
  border: none;
  max-width: 223.47px;
}

.detail {
  background: #f68d13;
}

.detail:hover {
  background: #a85f0a;
}

.create {
  font-weight: 100;
  justify-content: center;
}

.create:hover {
  background: #3c793c;
}

.create {
  background: #5bbb5b;
}

.edit {
  background: #3394ff;
}

.edit:hover {
  background: #256dbd;
}

.delete {
  background: #cd2121;
}

.delete:hover {
  background: #a51919;
}

.pagination {
  margin: 1% 0%;
  display: flex;
  justify-content: center;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Notificación borrar*/

.modal {
  
  display: flex;
  justify-content: center;

  width: 90%;
  height: 11%;
  position: fixed; 
  z-index: 100; 
  left: 50%;
  top: 5em;
  transform: translate(-50%, -50%);
  background: #c83636;

  border-radius: 7px;
}

.modal p{
  color: #fff;
  margin-left: 5em;
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-guts button{
  margin-left: 22em;
}

.day-mode .modal-guts{
  background-color: #c83636;
  border-radius: 5px;
}

.button_not{
  display: flex;
 
  align-items: center;
  background-color: #fff;
  
  justify-content: center;
  color: black;

  border: none;
  border-radius: 5px;

  height: 70%;
  width: 15%;
  padding: 0;
  margin: 0 0 0 5em;
}

.day-mode .button_not{
  color: #000 !important;
}