{% extends 'base_log.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
  <span>¿No tienes una cuenta? <a href="{% url 'signup' %}" class='signup_link'>Crear cuenta</a></span>
  <p><span>¿Te has olvidado de tu contraseña? <a href="{% url 'password_reset' %}" class='reset_pass'>Reset Password</a></span></p>
</form>
{% endblock %}