{% extends 'base_log.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<h2>Password reset complete</h2>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
{% endblock %}