{% extends 'base_log.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<h2>Forgot your password?</h2>
<p>Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Send me instructions!</button>
</form>
{% endblock %}