{% extends 'base_log.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h2>Set a new password!</h2>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Change my password</button>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>

{% endif %}
{% endblock %}