{% extends 'base_log.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<h2>Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
  {% endblock %}