{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  {% block css_links%}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/estilos_log.css' %}">
  <title>{% block title %} Gestor de pedidos {% endblock %}</title>
  <script src="https://kit.fontawesome.com/25fa1b360f.js" crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <h3> Deustronic Components S.L. </h3>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div class='div_footer'>
      <p> © Copyright 2022 Deustronic Components S.L. <a href='https://copyright.es/' target='blank'>Copyright.es</a>
      </p>
      <div id="reloj" style="font-size:14px;"></div>

    </div>
  </footer>
  <script src="{% static 'javaScript/relojFooter.js' %}"></script>
  {% block js_links %}{% endblock %}
</body>

</html>