{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  {% block css_links%}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  <title>{% block title %} Gestor de pedidos {% endblock %}</title>
  <script src="https://kit.fontawesome.com/25fa1b360f.js" crossorigin="anonymous"></script>
</head>

<body id='page'>

  <header>

    <nav id="enlaces">
      <a href="{% url 'pedidos_list' %}">
        <h3> Deustronic Components S.L. </h3>
      </a>
      <div class='navegacion'>
        <a href="{% url 'pedidos_list' %}"> Pedidos</a>
        <a href="{% url 'productos_list' %}"> Productos </a>
        <a href="{% url 'clientes_list' %}"> Clientes </a>
        <a href="{% url 'componentes_list' %}"> Componentes</a>
      </div>
      <div class='account'>
        <p class='username'>Hi {{ user.username }}!</p>
        <a href="{% url 'logout' %}" class='logout'>
          <p>
            Log Out
          </p>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        <a href="{% url 'password_reset' %}" class='reset_pass'>Reset Password</a>
      </div>
    </nav>
  </header>
  
  <main>
    {% block content %}{% endblock %}

    {% comment %} Boton JavaScript dia noche {% endcomment %}
    <div class='container-btn-mode'>
      <div id='id-moon'class='btn-mode moon active'>
        <i class='fas fa-moon'></i>
      </div>
      <div id='id-sun'class='btn-mode sun'>
        <i class='fas fa-sun'></i>
      </div>
    </div>

    <script src="{% static 'javaScript/dia_noche.js' %}"></script>  
  </main>
  
  <footer>
    <div class='div_footer'>
      <p> © Copyright 2022 Deustronic Components S.L. <a href='https://copyright.es/' target='blank'>Copyright.es</a>
      </p>
      <div id="reloj" style="font-size:14px;"></div>
    </div>
  </footer>
  <script src="{% static 'javaScript/relojFooter.js' %}"></script>
  {% block js_links %}
  
  {% endblock %}

</body>

</html>