{% extends 'base.html' %}
{% load static %}

{% block css_links %}
<link rel='stylesheet' href="{% static 'css/lists.css' %}">
{% endblock %}

{% block title %}
{{ titulo }}
{% endblock%}

{% block js_links %}
<script src="{% static 'javaScript/notificacionBorrar.js' %}"></script>
{% endblock %}

{% block content %}
<div class='filters'>
    <h3 class='title'>{{ titulo }}</h3>
    <form action="" method="get">
        {% csrf_token %}
        {{ filter.form.erros }}
        {{ filter.form.non_field_errors }}
        <div class='fila'>
            <div class="columna">
                <label for='filter.form.cif.id_for_label'>CIF</label>
                {{ filter.form.cif.errors }}
                {{ filter.form.cif }}
            </div>
            <div class="columna">
                <label for='filter.form.nombre_cliente.id_for_label'>Nombre</label>
                {{ filter.form.nombre_cliente.errors }}
                {{ filter.form.nombre_cliente }}
            </div>
        </div>
        <div class='filter_buttons'>
            <a href="{% url 'clientes_list' %}" class='clean_button'>Borrar</a>
            <input type="submit" class='submit_button' value='Filtrar' />
        </div>
    </form>
</div>

<!-- Este codigo es para listar parte de los campos de los cliente en una tabla -->
{% if contenido %}
<div class='table'>
    <table>
        <tr>
            <th>CIF</th>
            <th>Nombre</th>
            <th>Tlf.</th>
            <th>Email</th>
            <th class='vacio'>
                <a href="{% url 'cliente_create' %}" class='buttons button create'>Nuevo</a>
            </th>
        </tr>
        {% for cliente in contenido %}
        <tr>
            <td>{{ cliente.cif }}</td>
            <td>{{ cliente.nombre_cliente }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.email }}</td>
            <td class='buttons'>
                <a href="{% url 'cliente_detail' cliente.pk %}" class='button detail'>Detalle</a>
                <a href="{% url 'cliente_update' cliente.pk %}" class='button edit'>Editar</a>
                <a href="{% url 'cliente_delete' cliente.pk %}" class='button delete'>Eliminar</a>

                <div class="modal closed" id="modal">
                    
                    <div class="modal-guts">
                        <p>¿Estas seguro de que desea eliminar?</p>
                        <button class="close-button button_not" id="close-button">Cerrar</button>
                        <a href="{% url 'cliente_delete' cliente.pk %}" class='button button_not'>Eliminar</a>

                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="flecha_derecha"><i
                class="fa-solid fa-angles-left"></i></a>
        {% endif %}
        {% for i in paginator.page_range %}
        <a {% if page_obj.number == i %} class="active" {% endif %} href="?page={{i}}">{{ i }}</a>
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="flecha_izquierda"><i
                class="fa-solid fa-angles-right"></i></a>
        {% endif %}
    </div>
    {% endif %}
</div>

{% else %}
<p>No existen esos clientes</p>
{% endif %}

{% endblock %}