{% extends 'base.html' %}
{% load static %}

{% block css_links %}
<link rel='stylesheet' href="{% static 'css/create_update.css' %}">
{% endblock %}

{% block title %}
{{ titulo }}
{% endblock%}

{% block content %}

<h3>{{ titulo }}</h3>

{% if titulo == 'Nuevo Cliente' %}
<form action="{% url 'cliente_create' %}" method="post">
    {% else %}
    <form action="{% url 'cliente_update' cliente_pk %}" method="post">
        {% endif %}
        {% csrf_token %}
        {{ form.erros }}
        {{ form.non_field_errors }}
        <div class="fila">
            <div class="columna">
                {{ form.cif.errors }}
                <label for="{{ form.cif.id_for_label }}">cif del cliente</label>
                {{ form.cif }}
            </div>
            <div class="columna">
                {{ form.nombre_cliente.errors }}
                <label for="{{ form.nombre_cliente.id_for_label }}">Nombre</label>
                {{ form.nombre_cliente }}
            </div>
        </div>
        <div class="fila">
            <div class="columna">
                {{ form.telefono.errors }}
                <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
                {{ form.telefono }}
            </div>
            <div class="columna">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>
        </div>
        <div class="fila">
            <div class="columna">
                {{ form.direccion.errors }}
                <label for="{{ form.direccion.id_for_label }}">Direccion</label>
                {{ form.direccion }}
            </div>
            <div class="columna">
                {{ form.url.errors }}
                <label for="{{ form.url.id_for_label }}">url</label>
                {{ form.url }}
            </div>
        </div>
        {% if titulo == 'Nuevo Cliente' %}
        <input type="submit" value="Nuevo cliente" />
        {% else %}
        <input type="submit" value="Editar cliente" />
        {% endif %}
    </form>
    <button><a href="{% url 'clientes_list' %}">Volver</a></button>

    {% endblock %}