{% extends 'base.html' %}
{% load static %}

{% block css_links %}
<link rel='stylesheet' href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
<h2>{{titulo}}</h2>

{% if cliente %}
<div class='horizontal'>
    <div class='columna'>
        <label for="{{ form.cif.id_for_label }}">CIF del cliente</label>
        <div class="contenido">
            {{cliente.cif}}
        </div>
        <label for="{{ form.nombre_cliente.id_for_label }}">Nombre</label>
        <div class="contenido">
            {{cliente.nombre_cliente}}
        </div>


        <label for="{{ form.direccion.id_for_label }}">Dirección</label>
        <div class="contenido">
            {{cliente.direccion}}
        </div>
    </div>
    <div class='columna'>
        <label for="{{ form.email.id_for_label }}">Email</label>
        <div class="contenido">
            {{cliente.email}}
        </div>

    
        <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
        <div class="contenido">
            {{cliente.telefono}}
        </div>

        <label for="{{ form.url.id_for_label }}">URL</label>
        <div class="contenido">
            {{cliente.url}}
        </div>
    </div>
</div>


{% else %}
<p>No existe este cliente.</p>
{% endif %}
<button><a href="{% url 'clientes_list' %}">Volver</a></button>
{% endblock %}