{% extends 'base.html' %}

{% load static %}

{% block css_links %}
<link rel='stylesheet' href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
<h2>{{titulo}}</h2>

{% if componente %}

<div class='horizontal'>
    <div class='columna'>
        <label for="{{ form.cod_ref_componente.id_for_label }}">Cod. componente</label>
        <div class="contenido">
            {{componente.cod_ref_componente}}
        </div>

        <label for="{{ form.nombre_componente.id_for_label }}">Nombre</label>
        <div class="contenido">
            {{componente.nombre_componente}}
        </div>
    </div>
    <div class='columna'>
        <label for="{{ form.modelo.id_for_label }}">Modelo</label>
        <div class="contenido">
            {{componente.modelo}}
        </div>

        <label for="{{ form.marca.id_for_label }}">Marca</label>
        <div class="contenido">
            {{componente.marca}}
        </div>
    </div>
</div>



{% else %}
<p>No existe este componente.</p>
{% endif %}
<button><a href="{% url 'componentes_list' %}">Volver</a></button>
{% endblock %}