{% extends 'base.html' %}
{% load static %}

{% block css_links %}
<link rel='stylesheet' href="{% static 'css/create_update.css' %}">
{% endblock %}

{% block title %}
{{ titulo }}
{% endblock%}

{% block content %}

<h3>{{ titulo }}</h3>
<input type="hidden" id="Url" data-url="{% url 'componente_find' %}" />
{% if titulo == 'Nuevo Componente' %}
<form action="{% url 'componente_create' %}" method="post">
    {% else %}
    <form action="{% url 'componente_update' componente_pk %}" method="post">
        {% endif %}
        {% csrf_token %}
        {{ form.erros }}
        {{ form.non_field_errors }}
        <div class="fila">
            <div class="columna">
                {{ form.cod_ref_componente.errors }}
                <label for="{{ form.cod_ref_componente.id_for_label }}">Cod. componente</label>
                {{ form.cod_ref_componente }}
                <span id="errorCod" aria-live="polite"></span>
            </div>
            <div class="columna">
                {{ form.nombre_componente.errors }}
                <label for="{{ form.nombre_componente.id_for_label }}">Nombre</label>
                {{ form.nombre_componente }}
            </div>
        </div>
        <div class="fila">
            <div class="columna">
                {{ form.modelo.errors }}
                <label for="{{ form.modelo.id_for_label }}">Modelo</label>
                {{ form.modelo }}
            </div>
            <div class="columna">
                {{ form.marca.errors }}
                <label for="{{ form.marca.id_for_label }}">Marca</label>
                {{ form.marca }}
            </div>
        </div>
        {% if titulo == 'Nuevo Componente' %}
        <input type="submit" value="Nuevo componente" />
        {% else %}
        <input type="submit" value="Editar componente" />
        {% endif %}
    </form>
    <button><a href="{% url 'componentes_list' %}">Volver</a></button>
    {% endblock %}

    {% block js_links %}
    <script src="{% static 'javaScript/validarCod.js' %}"></script>
    {% endblock %}