{% extends 'base.html' %}
{% load static %}

{% block css_links %}
<link rel='stylesheet' href="{% static 'css/create_update.css' %}">
{% endblock %}

{% block title %}
{{ titulo }}
{% endblock%}

{% block content %}

<h3>{{ titulo }}</h3>
<input type="hidden" id="Url" data-url="{% url 'pedido_find' %}" />
{% if titulo == 'Nuevo Pedido' %}
<form action="{% url 'pedido_create' %}" method="post">
    {% else %}
    <form action="{% url 'pedido_update' pedido_pk %}" method="post">
        {% endif %}
        {% csrf_token %}
        {{ form.erros }}
        {{ form.non_field_errors }}
        <div class="fila">
            <div class="columna">
                {{ form.cod_ref_pedido.errors }}
                <label for="{{ form.cod_ref_pedido.id_for_label }}">Cod. pedido</label>
                {{ form.cod_ref_pedido }}
                <span id="errorCod" aria-live="polite"></span>
            </div>
            <div class="columna">
                {{ form.cliente.errors }}
                <label for="{{ form.cliente.id_for_label }}">Cliente</label>
                {{ form.cliente }}
            </div>
        </div>
        <div class="fila">
            <div class="columna">
                {{ form.producto.errors }}
                <label for="{{ form.producto.id_for_label }}">Producto</label>
                {{ form.producto }}
            </div>
            <div class="columna">
                {{ form.cantidad_producto.errors }}
                <label for="{{ form.cantidad_producto.id_for_label }}">Cantidad</label>
                {{ form.cantidad_producto }}
            </div>
        </div>
        <div class="fila">
            <div class="solitario">
                {{ form.comentarios.errors }}
                <label for="{{ form.comentarios.id_for_label }}">Comentarios</label>
                {{ form.comentarios }}
            </div>
        </div>
        {% if titulo == 'Nuevo Pedido' %}
        <input type="submit" value="Nuevo pedido" />
        {% else %}
        <input type="submit" value="Editar pedido" />
        {% endif %}
    </form>
    <button><a href="{% url 'pedidos_list' %}">Volver</a></button>
    {% endblock %}

    {% block js_links %}
    <script src="{% static 'javaScript/validarCod.js' %}"></script>
    {% endblock %}