{% extends 'base.html' %}
{% load static %}

{% block css_links %}
<link rel='stylesheet' href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
<h2>{{titulo}}</h2>

{% if pedido %}
<div class='horizontal'>
    <div class='columna'>
        <label for="{{ form.cod_ref_pedido.id_for_label }}">Cod. pedido</label>
        <div class="contenido">
            {{pedido.cod_ref_pedido}}
        </div>


        <label for="{{ form.producto.id_for_label }}">Producto</label>
        <div class="contenido">
            <a href="{% url 'producto_detail' pedido.producto.id %}">{{pedido.producto}}</a>
        </div>


        <label for="{{ form.fecha.id_for_label }}">Fecha del pedido</label>
        <div class="contenido">
            {{pedido.fecha}}
        </div>
    </div>


    <div class='columna'>
        <label for="{{ form.cliente.id_for_label }}">Cliente</label>
        <div class="contenido">
            <a href="{% url 'cliente_detail' pedido.cliente.id %}">{{pedido.cliente}}</a>
        </div>


         <label for="{{ form.cantidad_producto.id_for_label }}">Cantidad</label>
        <div class="contenido">
            {{pedido.cantidad_producto}}
        </div>


        <label for="{{ form.precio_total.id_for_label }}">Precio total</label>
        <div class="contenido">
            {{pedido.precio_total}}€
        </div>
    </div>
</div>
        <label for="{{ form.comentarios.id_for_label }}">Comentarios</label>
        <div class="contenido">
            {{pedido.comentarios}}
        </div>


{% else %}
<p>No existe este producto.</p>
{% endif %}

<button><a href="{% url 'pedidos_list' %}">Volver</a></button>
{% comment %} </div> {% endcomment %}
{% endblock %}