{% extends 'base.html' %}

{% load static %}

{% block css_links %}
<link rel='stylesheet' href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
<h2>{{titulo}}</h2>
<div class='horizontal'>

{% if producto %}


    <div class='columna'
        <label for="{{ form.cod_ref_producto.id_for_label }}">Cod. producto</label>
        <div class="contenido">
            {{producto.cod_ref_producto}}
        </div>

        <label for="{{ form.nombre_producto.id_for_label }}">Nombre</label>
        <div class="contenido">
            {{producto.nombre_producto}}
        </div>

        <label for="{{ form.precio.id_for_label }}">Precio</label>
        <div class="contenido">
            {{producto.precio}}
        </div>
    </div>

    <div class='columna'>
        <label for="{{ form.categoria.id_for_label }}">Categoría</label>
        <div class="contenido">
            {{producto.categoria}}
        </div>

        <label for="{{ form.descripcion.id_for_label }}">Descripción</label>
        <div class="contenido">
            {{producto.descripcion}}
        </div>

        <label for="{{ form.componentes.id_for_label }}">Componentes</label>
        <div class="contenido">
            {% if producto.componentes.all %}
            {% for componente in producto.componentes.all %}
            <a href="{% url 'componente_detail' componente.id %}">{{ componente.nombre_componente}}</a>
            {% endfor %}
            {% else %}
            <p>No tiene componentes asociados</p>
            {% endif %}
        </div>
    </div>
</div>


{% else %}
<p>No existe este producto.</p>
{% endif %}
<button><a href="{% url 'productos_list' %}">Volver</a></button>

{% endblock %}