{% extends 'base.html' %}
{% load static %}

{% block css_links %}
<link rel='stylesheet' href="{% static 'css/lists.css' %}">
{% endblock %}

{% block title %}
{{ titulo }}
{% endblock%}

{% block js_links %}
<script src="{% static 'javaScript/notificacionBorrar.js' %}"></script>
{% endblock %}

{% block content %}

<div class='filters'>
    <h3 class='title'>{{ titulo }}</h3>
    <form action="" method="get">
        {% csrf_token %}
        {{ filter.form.erros }}
        {{ filter.form.non_field_errors }}
        <div class='fila'>
            <div class="columna">
                <label for='filter.form.cod_ref_producto.id_for_label'>Cod. producto</label>
                {{ filter.form.cod_ref_producto.errors }}
                {{ filter.form.cod_ref_producto }}
            </div>
            <div class="columna">
                <label for='filter.form.nombre_producto.id_for_label'>Nombre</label>
                {{ filter.form.nombre_producto.errors }}
                {{ filter.form.nombre_producto }}
            </div>
            <div class="columna">
                <label for='filter.form.categoria.id_for_label'>Categoria</label>
                {{ filter.form.categoria.errors }}
                {{ filter.form.categoria }}
            </div>
        </div>
        <div class='filter_buttons'>
            <a href="{% url 'productos_list' %}" class='clean_button'>Borrar</a>
            <input type="submit" class='submit_button' value='Filtrar' />
        </div>
    </form>
</div>
<!-- Este codigo es para listar parte de los campos de los productos en una tabla -->
{% if contenido %}
<div class='table'>
    <table>
        <tr>
            <th>Cod. producto</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th class='vacio'>
                <a href="{% url 'producto_create' %}" class='buttons button create'>Nuevo</a>
            </th>
        </tr>
        {% for producto in contenido %}
        <tr>
            <td>{{ producto.cod_ref_producto }}</td>
            <td>{{ producto.nombre_producto }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.precio }}$</td>
            <td class='buttons'>
                <a href="{% url 'producto_detail' producto.pk %}" class='button detail'>Detalle</a>
                <a href="{% url 'producto_update' producto.pk %}" class='button edit'>Editar</a></a>
                <a href="{% url 'producto_delete' producto.pk %}" class='button delete' onclick="return ConfirmarDelete()">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="flecha_derecha"><i
                class="fa-solid fa-angles-left"></i></a>
        {% endif %}
        {% for i in paginator.page_range %}
        <a {% if page_obj.number == i %} class="active" {% endif %} href="?page={{i}}">{{ i }}</a>
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="flecha_izquierda"><i
                class="fa-solid fa-angles-right"></i></a>
        {% endif %}
    </div>
    {% endif %}
</div>

{% else %}
<p>No existen esos productos</p>
{% endif %}

{% endblock %}