{% extends 'base.html' %}
{% load static %}

{% block css_links %}
<link rel='stylesheet' href="{% static 'css/create_update.css' %}">
{% endblock %}

{% block title %}
{{ titulo }}
{% endblock%}

{% block content %}

<h3>{{ titulo }}</h3>
<input type="hidden" id="Url" data-url="{% url 'producto_find' %}" />
{% if titulo == 'Nuevo Producto' %}
<form action="{% url 'producto_create' %}" method="post">
    {% else %}
    <form action="{% url 'producto_update' producto_pk %}" method="post">
        {% endif %}
        {% csrf_token %}
        {{ form.erros }}
        {{ form.non_field_errors }}
        <div class="fila">
            <div class="columna">
                {{ form.cod_ref_producto.errors }}
                <label for="{{ form.cod_ref_producto.id_for_label }}">Cod. producto</label>
                {{ form.cod_ref_producto }}
                <span id="errorCod" aria-live="polite"></span>
            </div>
            <div class="columna">
                {{ form.nombre_producto.errors }}
                <label for="{{ form.nombre_producto.id_for_label }}">Nombre</label>
                {{ form.nombre_producto }}
            </div>
        </div>
        <div class="fila">
            <div class="columna">
                {{ form.categoria.errors }}
                <label for="{{ form.categoria.id_for_label }}">Categoría</label>
                {{ form.categoria }}
            </div>
            <div class="columna">
                {{ form.precio.errors }}
                <label for="{{ form.precio.id_for_label }}">Precio</label>
                {{ form.precio }}
            </div>
        </div>
        <div class="fila">
            <div class="columna">
                {{ form.componentes.errors }}
                <label for="{{ form.componentes.id_for_label }}">Componentes</label>
                {{ form.componentes }}
            </div>
            <div class="columna">
                {{ form.descripcion.errors }}
                <label for="{{ form.descripcion.id_for_label }}">Descripcion</label>
                {{ form.descripcion }}
            </div>
        </div>
        {% if titulo == 'Nuevo Producto' %}
        <input type="submit" value="Nuevo producto" />
        {% else %}
        <input type="submit" value="Editar producto" />
        {% endif %}
    </form>
    <button><a href="{% url 'productos_list' %}">Volver</a></button>
    {% endblock %}

    {% block js_links %}
    <script src="{% static 'javaScript/validarCod.js' %}"></script>
    {% endblock %}